node_modules
build
.svelte-kit
.git
.gitignore
.env
.env.*
!.env.example
*.md
LICENSE
.vscode
.idea
.vercel
tests
scripts/*
!scripts/prepare-monitoring.ts
playwright.config.ts
playwright-report
test-results
nixpacks.toml
Dockerfile
.dockerignore
